extends ../layouts/main

block content

    .login-box

        h1 Login

        form(
            method='POST'
            action='/auth/login'
        )

            input.w3-input(
                type='email'
                name='email'
                placeholder='Digite seu email'
            )

            br

            input.w3-input(
                type='password'
                name='senha'
                placeholder='Digite sua senha'
            )

            br

            button.w3-button.w3-blue(
                type='submit'
            ) Entrar

        br

        a.w3-button.w3-green(
            href='/auth/registro'
        ) Criar Conta